@keyframes scrollInfinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); 
  }
}

.montanas-container.animate-scroll > div,
.nubes-container.animate-scroll > div {
  animation: scrollInfinite linear infinite;
}

.montanas-container.animate-scroll > div {
  animation-duration: 70s;
}

.nubes-container.animate-scroll > div {
  animation-duration: 150s; 
}

.montanas-container img,
.nubes-container img {
  width: 100vw;
  height: auto;
  display: block;
  flex-shrink: 0;
}

.montanas-container > div,
.nubes-container > div {
  display: flex;
  width: 600vw; 
  height: auto;
  will-change: transform; 
}

.montanas-container,
.nubes-container {
  margin: 0;
  padding: 0;
}

.montanas-container > div,
.nubes-container > div {
  gap: 0;
  margin: 0;
  padding: 0;
}

.nubes-container {
  top: 15%;
}

.montanas-container {
  bottom: 0;
}

.z-15 {
  z-index: 15;
}