@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== CAUSTEN OBLIQUE ===== */
@font-face {
  font-family: 'Causten';
  src: url('/src/assets/fonts/Causten-BoldOblique.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Causten';
  src: url('/src/assets/fonts/Causten-RegularOblique.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Causten';
  src: url('/src/assets/fonts/Causten-MediumOblique.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}


/* ===== CAUSTEN REGULAR ===== */
@font-face {
  font-family: 'Causten';
  src: url('/src/assets/fonts/Causten-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Causten';
  src: url('/src/assets/fonts/Causten-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Causten';
  src: url('/src/assets/fonts/Causten-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@keyframes scroll-fast {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-fast {
  animation: scroll-fast 20s linear infinite;
}